.FranklinGothicURW-Hea {
  font-family: FranklinGothicURW-Hea;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArchivoBlackRegular';
  src: url('fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Scaling */
/*
@media screen and (min-width: 1491px) {
  html {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 1490px) {
  html {
    transform: scale(0.75);
  }
}
*/
/* Resetting default CSS properties */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

mark {
  background: none;
}

img {
  display: block;
}

ol, ul {
  list-style-type: none;
	padding-left: inherit;
}

/* General */
/* Solving nasty scrollbar problem: */
html {
  margin-left: calc(100vw - 100%);
}

body {
  background: hsl(196, 75%, 75%);
  font: 20px FranklinGothicURW-Hea, 'ArchivoBlackRegular', sans-serif;
  /*
  height: 200px;
*/
	display: flex;
	flex-direction: column;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

header {
  width: 1050px;
}

main {
	margin: 40px auto 30px;
	max-width: 1500px;
}

h1, h3 {
  font-size: 28px;
  margin-bottom: 50px;
}

h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
  word-spacing: -0.9px;
}





/* UI elements */

/* Tiles */

.tiles {
  background-color: hsl(0, 0%, 100%);
  box-shadow: -12.5px 12.5px hsla(0, 0%, 0%, 0.5);
  margin: 0px;
  float: left;
}

.comicTiles {
  box-shadow: -12.5px 12.5px hsla(0, 0%, 0%, 0.5);
  margin: 0px;
  float: left;
}

/* Navigation */

#navTile {
  width: 1050px;
  height: 70px;
	margin-left: auto;
	margin-right: auto;
}

#navLayout {
	width: 950px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-top: 23px;
}

.navButtons {
  font: 20px FranklinGothicURW-Hea, 'ArchivoBlackRegular', serif;
}


#tocSectionHighlight {
  position: relative;
  left: 85px;
	top: -12px;
  height: 8px;
  width: 200px;
}

#toc1, #toc2, #toc4 {
  cursor: pointer;
  color: hsl(0, 75%, 0%);
}

/* Main content layout */

.tileGridContainer {
  width: 990px;
	margin-top: 40px;
  margin-bottom: 30px;
}

.tileGridContainer::after {
  content: '';
  display: block;
  clear: both;
}





/*******************
**     Pages      **
*******************/
.p1Content, .p2Content {
  display: none;
  opacity: 0;
}

#p1ComicTile {
  height: 527px;
  width: 636px;
}

#p1WelcomeTile {
  height: 480px;
  width: 380px;
}

#p1PromiseTile {
  height: 265px;
  width: 636px;
}

#p1Doggie {
  height: 430px;
  width: 347px;
}

/* Promise article tile */
/* Doggie warning */
/*******************
* Page 2 Contents **
*******************/
/* Page 2 Comic tile*/
